/* src/pages/Login.css */

/* 화면 전체 중앙 정렬 */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* 화면 높이의 80% */
}

/* 로그인 카드 박스 */
.auth-card {
  background-color: #F0F7FF;
  border-radius: 15px;
  width: 907px;
  height: 518px;
}

.auth-title {
  color: #000;
font-family: Pretendard;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;


}

.auth-title span {
  color: #000;
font-family: Pretendard;
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

/* 구분선 (가로 줄)
.auth-divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
}*/

/* 입력 필드 (Input Fields)*/
.input-group {
  margin-bottom: 20px; /* 입력창끼리의 간격 */
}

/* '아이디', '비밀번호' 라벨 */
.input-label {
  color: #000000;
font-family: Pretendard;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 43px;
height: 19px;
}

/* 실제 입력창 디자인 */
.auth-input {
  width: 386px;
  height: 0;
  padding: 50px 5px;    /* 안쪽 여백 (위아래 10px, 좌우 5px) */
  border: none;         /* 전체 테두리 없애기 */
  border-bottom: 1px solid #999; /* 밑줄(회색) */
  background-color: transparent; /* 배경 투명하게 */
  outline: none;        /* 클릭했을 때 파란 테두리 없애기 */
  font-size: 16px;      /* 글자 크기 */
  box-sizing: border-box; /* 테두리 포함해서 크기 계산 */
}

/* 버튼 디자인 (Buttons) */
.button-group {
 
  gap: 12px;        /* 버튼 사이 간격 */
  margin-top: 100px; /* 위쪽 요소와의 간격 */
}

/* 공통 버튼 스타일 */
.btn-auth {
  width: 187px;
  height: 47px;
  border: none;     /* 테두리 없음 */
  border-radius: 4px; /* 모서리 살짝 둥글게 */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 로그인 버튼 (파란색) */
.btn-primary {
  border-radius: 2px;
  background: #0075E0;
}

/* 회원가입 버튼 (회색) */
.btn-secondary {
  border-radius: 2px;
  background: #EAEAEA;
}

/* 마우스 올렸을 때 살짝 투명해지는 효과 */
.btn-auth:hover {
  opacity: 0.9;
}